  <!-- Navbar Section -->
<%= partial 'partials/navbar' %>
<!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Tech stack Section -->
  <%= partial 'partials/tech' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
